body {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar, .footer {
    background-color: #e9ecef;
}
.form-container {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 5px;
}

#alerta {
    display: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}